# Created by .ignore support plugin (hsz.mobi)
reviews10000ssplit.txt
reviews10000ssplit_POS.txt
reviews10000ssplit_extr.txt
reviews24740ssplit.txt
reviews24740ssplit_POS.txt
reviews24740ssplit_extr.txt
target/
